#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

.item {
    background-color: coral;
}

h3 {
    text-align: center;
}

h1 {
    text-align: center;
}

button {
    border-radius: 5px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}