#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

.item {
    flex-basis: auto;
    background-color: coral;
}

h3 {
    text-align: center;
}

button {
    padding: 5px;
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 20px;
}